<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="index" class="active"><a href="/Home/Index/index">首页</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="menu_project"><a href="/Home/Project/index">产品汇总</a></li>
        <li id="menu_sale"><a href="/Home/Sale/index">销货汇总</a></li>
        <li id="menu_buy"><a href="/Home/Buy/index">进货汇总</a></li>
        <!--<li><a href="/Home/Sale/addSale">销售单</a></li>-->
        <!--<li><a href="/Home/Buy/addBuy">进货单</a></li>-->
        <li id="menu_dealer"><a href="/Home/Dealer/index">经销商</a></li>
        <li id="menu_unit"><a href="/Home/Unit/index">最小单位</a></li>
        <!--<li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无留言功能">留言</a></li>-->
    </ul>
</aside>